* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

p {
    color: #8d8d8d;
    font-size: 1.3em;
    line-height: 2em;
    margin-bottom: 2em;
    text-align: center;
}

a {
    text-decoration: none;
}

#container {
    width: 500px;
    margin: 50px auto 0 auto;
}

.page-title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}

.button {
    display: block;
    width: 240px;
    margin: 30px auto 40px;    
    padding: 14px 26px;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.cover {
    display: block;
    overflow: hidden;    
    width: 500px;
    height: 500px;    
    margin-bottom: 20px;    
    box-shadow: 4px 4px 5px #DDD;
}

.cover > img {
    width: 500px;
    height: 500px;
}

#title, #backTitle {
    display: none;
}

@media print {
    #container {
        margin: 55px auto 0 auto;
    }

    .cover {
        position: relative;
        top: 0;
        left: 0;
        width: 444px;
        height: 444px;
        box-shadow: none;
        margin-bottom: 10px;
    }

    .cover > img {
        width: 444px;
        height: 444px;
    }

    #container > a {
        display: none;
    }
}